<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width: 300px; margin: auto;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul style="color: red;">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>{{ text }}</h1>
    <form action="/logout" method="post">
        <input type="submit" value="Log Out">
    </form>
    <br>
    <a href="/changepwd">Change your password</a>
    <br>
    <a href="/upload">Change your avatar</a>
</body>
</html>